!*.c 
!*.h
!startup_stm32f10x_hd.s
*.log
*.plg
*.bak
*.dep
*.uvgui.*
JLinkLog.txt
*.o
*.d
*.crf
*.tra
*.axf
*.hex
*.lnp
*.sct
*.__i
*.htm
Output/
Listing/
Project/RVMDK(uv5)/*.uvgui.*
ESP8266_Wifi_link_Config.c
